/* COMMONS */

body {
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --logo-bg: #000000;
    --jumbo-btn: #CD3D0E;
    --text-color: #858585;
    --bg-new-game: #1F1F1F;
    --bg-play-4: #BEBCBB;
    --bg-ps-now: #161C3B;
    --bg-footer: #00439C;
}

.bg-black {
    background-color: var(--logo-bg);
}

.sub-title {
    font-size: 1.2em;
    color: var(--text-color);
}

.pt-6 {
    padding-top: 12rem;
}

.rounded-6 {
  border-radius: 1.25rem;
}

.fs-big {
    font-size: 2.3em;
}

.w-30 {
    width: 30%;
}

.w-35 {
    width: 35%;
}

a:hover{
    box-shadow:0 0 0 2px white inset;
}

.black-shadow:hover {
    box-shadow: 0 0 0 2px inset black;
}

/* HEADER-TOP */

.header-top .logo-header {
    width: 100px;
}

/* HEADER-BOTTOM */

header .header-bottom {
    background-color: white;
} 

header .header-bottom .navbar .navbar-brand img {
    width: 2em;
}

.header-bottom .dropdown .list-inline-item img {
    width: 5em; 
}

.header-bottom .navbar-light .navbar-nav .nav-link {
    color: black;
}

.header-bottom .navbar-light .navbar-nav .nav-link:hover {
    color: lightblue;
}

.header-bottom .navbar .navbar-nav .dropdown-menu .list-inline-item.top:hover a {
    box-shadow: 1px 1px 1px 1px grey;
    background-color: transparent;
}

.dropdown-menu[data-bs-popper] {
    top: 100%;
    left: 0;
    margin-top: 0;
}

.dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.5em;
    vertical-align: 0;
    font-family: "Font Awesome 6 Free"; 
    font-weight: 900;
    font-size: .9em; 
    color: var(--text-color);
    content: "\f078";
    border-top:  0;
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
}

.dropdown-toggle:focus:after {
    color: lightblue;
    transform: rotate(180deg);
}

.dropdown-menu li.pointed:hover a {
    background-color: transparent;
}

.dropdown-menu .pointed i {
    font-size: .3em;
    vertical-align: middle;
    margin-right: 1em;
}

.dropdown-menu li.pointed:hover a {
    color: lightblue;
}

.dropdown-menu .pointed i:hover {
    color: lightblue;
}

.header-bottom .navbar-nav li form #search {
    background-image: url(../img/lens.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

/* JUMBOTRON */

.jumbotron .container-fluid {
    padding-top: 6em;
}

.jumbotron .container-fluid .row.banner-bg {
    display: flex;
    align-items: flex-end;
    background-image: url(../img/jumbo-bg.png) ;    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
}

.jumbotron .container-fluid .row.banner-bg .jumbo-content .btn {
    background-color: var(--jumbo-btn);
}

/* JUMBO-SLIDERS */

.jumbotron .jumbo-sliders .row .sliders:hover {
    transform: translateY(-1em);
}

.jumbotron .jumbo-sliders .row .sliders .img-thumbnail {
    border: 1px solid blue;
}

/* HARDWARE-SLIDERS */

.hardware .hardware-sliders .hard-sliders img {
    opacity: .7;
}

.hardware .hardware-sliders .hard-sliders:hover img {
    opacity: 1;
}

/* SECTION-MAIN-GAME */

.main-game .container-fluid .row.banner-bg {
    display: flex;
    align-items: flex-end;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg) ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.main-game .container-fluid .row.banner-bg .banner-content img {
    width: 15em;
}

.main-game .container-fluid .row.banner-bg .jumbo-content .btn {
    background-color: var(--jumbo-btn);
}

/* SECTION-NEW-GAMES */

.new-games .container-fluid {
    background-color: var(--bg-new-game);
    color: white;
}

.new-games .container-fluid .new-games-text {
    font-size: .9em;
}

/* SECTION-PS4 */

.playstation-plus .container-fluid {
    background-color: var(--bg-play-4);
}

/* SECTION-PS-PLUS */

.playstation-plus .btn.btn-ps {
    background-color: #D9DADC;
    color: blue;
}


/* SECTION-PS-NOW */

.ps-now .container-fluid {
    background-color: var(--bg-ps-now);
    color: white;
}

.ps-now .btn.btn-ps {
    background-color: white;
}

/* FOOTER */

footer.container-fluid {
    background-color: var(--bg-footer);
    color: white;
}

footer.container-fluid .logo-footer img {
    width: 120px;
}

footer.container-fluid .language img {
    width: 25px;
} 

footer .footer-top ul li {
    list-style-type: none;
    padding-bottom: 1em;
}


footer .footer-top ul li a {
    color: white;
    text-decoration: none;
}

/* FOOTER-BOTTOM */

.footer-bottom .row img {
    width: 150px;
}

footer .footer-bottom .link-copyright a {
    color: white;
}

/* MEDIA-QUERY */

@media screen and (max-width: 992px) {

    .navbar-nav {
        display: block;
    }
    
    .btn.btn-dark.rounded-pill {
        width: 50%;
    }

     .navbar-nav li a img {
        display: none;
    }

}

@media screen and (min-width: 768px) {

     .hardware .hardware-sliders .row {
        justify-content: space-between;
    }

    .hardware .hardware-sliders .row img {
        width: 75%!important;
    }
}
